 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,700&family=Dancing+Script:wght@500;600&family=Indie+Flower&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: linux libertine ;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


button{
    background-color: #fff4ef;
    border: 0 solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
    border-radius: 15px; 

}
button.hover{
    background-color: #d1ac96;
    transition: all 0.4s linear;
}



.pink-span{
    color: var(-o-animation);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1ac96;
    padding: 1rem;
    font-size: 18px;
   

}
.nav__link{
    cursor: pointer;
}
img.logo{
    width: 8%;
    height: 8%;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    
}
div.portada{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;

}
.CordeliaTitulo{
margin-top: 10px;
height: 50px;
width: max-content;
}
.

.h2{
    display: block;
    font-size: 1.5rem;
    align-content: center;
   margin: 20px;
   padding: 20px;
   text-align: center;
    font-weight: bold;
    width: 80%;
    border-radius: 10%;

}
.imagen__derecha{
    display: flex;
    max-width: 25%;
    max-height: 25%;
    border-radius: 8%;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box; 
    padding: 10px;
   margin: 0 auto;
    
}

.div__izquierda{
    align-content: center;
    justify-content: center;
    background-color: #d1ac96;
    font-size: 15px;
    width: 100%;
    height: 200px;
   text-align: center ;
   padding: 50px;
   margin-left: 0;
   
}
.card1 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.macetitas{
    margin-top: 10px;
}

.macetitas h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card2 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.macetas{
    margin-top: 10px;
}

.macetas h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card3 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.portadofusor{
    margin-top: 10px;
}

.portadifusor h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card4 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card4 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.alfombras{
    margin-top: 10px;
}

.alfombras h3{
    font-size: 18px;
    margin-bottom: 5px;
}