 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,700&family=Dancing+Script:wght@500;600&family=Indie+Flower&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: linux libertine ;
    text-decoration: none;
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1cfbd;
    padding: 1rem;
    font-size: 18px;
    position: stick;
    top: 0;
    z-index: 1;
    text-decoration: none;
    max-width: 100%;

}
.navbar i{
    font-size: 30px;
    display: none;
}

#toggle-menu{
    display: none;
}
.nav__link{
    cursor: pointer;
    font-weight: 200;
}
img.logo{
    width: 8%;
    height: 8%;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;

}
@media (max-width: 576px) {
    .navbar ul {
        background: white;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .navbar i {
        display: block;
    }
    #toggle-menu:checked ~ .nav{
        display: flex;
    }
    }


.portada{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 54%;
    height: 30%;
    margin: 20px 30%;


}
.CordeliaTitulo{
margin-top: 10px;
height: 50px;
width: max-content;
 padding: 0 40% ;
}
.titulo__productos{
    margin-left: 40%;
    margin-top: 5%;
    font-size: 250%;
}
#elementos .productos{
    display: inline;
}

.h2{
    display: block;
    font-size: 60%;
    align-content: center;
   margin: 20px;
   padding: 20px;
   text-align: center;
    font-weight: bold;
    width: 80%;
    border-radius: 10%;

}
.imagen__derecha{
    display: flex;
    max-width: 25%;
    max-height: 25%;
    border-radius: 8%;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
   margin: 0 auto;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.div__izquierda{
    align-content: center;
    justify-content: center;
    background-color: #f1cfbd;
    font-size: 12px;
    width: 100%;
    height: 200px;
   text-align: center ;
   padding: 50px;
   margin-left: 0;

}

.productos {
    display: flex;
    justify-content: center;
    flex-direction: row ;
    margin: 5%;
    gap:8%;
}

.card1 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.macetitas{
    margin-top: 10px;
}

.macetitas h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card2 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card2 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.macetas{
    margin-top: 10px;
}

.macetas h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card3 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.portadifusor{
    margin-top: 10px;
}

.portadifusor h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card4 {
    width: 300px;
    border: 1px solid #d1ac96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card4 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.alfombras{
    margin-top: 10px;
}

.alfombras h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.contacto {

    padding: 80px, 0;
    height: 30vh;
    width: 100%;

    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
 font-size: 800;
 gap: 30px
}
.lista-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0 0 0;
}
.final{
    display: flex;
    justify-content: center;
    margin: 0 0 8% 0;
}
/* //tablet// */
@media (min-width:577) and (max-width:992px){
    .navbar{
        gap:10px;
    }
    .portada{
        width: 10%;
        height: 10%;
    }
   .h2{
    font-size: small;
   }
    .titulo__productos{
        font-size: 100%;
    }

}
/* //mobile// */ */
@media (max-width:576px){
    
    .portada{
        width: 10%;
        height: 10%;
    }
    .h2{
        font-size: 16px;
    }

}